<main class="main container">
    <article class="article  article--post  content  typeset column column--duo {% if include.animation1 %} wow {{ include.animation1 }} {% endif %}">
        <h1>{{ include.title1 }}</h1>
        {{ include.content1 | markdownify }}
    </article>
    <article class="article  article--post  content  typeset column column--duo {% if include.animation2 %} wow {{ include.animation2 }} {% endif %}">
        <h1>{{ include.title2 }}</h1>
        {{ include.content2 | markdownify }}
    </article>
</main>