{% if site.navigation_header %}
<nav class="nav  nav--header">
  <ul class="list  list--nav">
    {% for item in site.navigation_header %}

      {% if item[1] contains '://' %}
        {% assign url = item[1] %}
      {% else %}
        {% assign url = item[1] | relative_url %}
      {% endif %}
    
      {% assign current=false %}
      {% if item[1] == page.url %}
      {% assign current=true %}
      <li class="item  item--nav  item--current">
      {% else %}
      <li class="item  item--nav">
      {% endif %}
        <a href="{{ url }}"{% if current and page.header-item-current %} style="color : {{ page.header-item-current }}" {% elsif page.header-item %} style="color : {{ page.header-item }}" {% endif %} >{{ item[0] }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
{% else %}
  {% include nav-default.html %}
{% endif %}

<template id="buttontoggle">
  <button class="button  button--nav" aria-label="Menu toggle">
    {% include icon.html id="nav" title="Menu" color=page.header-item %}
  </button>
</template>
<script type="text/javascript">

const nav = document.querySelector('.nav')
const buttonTemplate = document.querySelector('#buttontoggle')
const button = document.importNode(buttonTemplate.content, true)
nav.appendChild(button)

const applyToggle = (list, button, breakpoint) => {
  const navList = document.querySelector(list)
  if (document.body.clientWidth < breakpoint) {
    const navHeight = navList.clientHeight
    const navButton = document.querySelector(button)
    navList.style.maxHeight = '0px'

    navButton.onclick = () => {
      if (navList.style.maxHeight == '0px') {
        navList.style.maxHeight = `${navHeight}px`
      } else {
        navList.style.maxHeight = '0px'
      }
    }
  }
}

applyToggle('.list--nav', '.button', 640)

window.onload = function() {
  jarallax(document.querySelectorAll('.jarallax'), {
      speed: 0.2,
      disableParallax: /iPad|iPhone|iPod|Android/
  });
};

</script>
