<footer class="footer"
{% if page.footer-text %} style="color: {{ page.footer-text }}; background: {{ page.footer-color }}" {% endif %}
>
    <div class="container">
      <div class="copyright  typeset">
        <small class="small" 
        {% if page.footer-text %} style="color: {{ page.footer-text }};" {% endif %}
        >&copy; {{ site.title }} {{ site.time | date: '%Y' }}</small>
      </div>

        <div>
            {% for item in site.footer_icons %}
                <a href="{{ item[1] }}">
                    {% assign thing = item[0] %}
                    {% include icon.html id=thing color=page.footer-text%}
                </a>
            {% endfor %}
        </div>

      {% include nav-footer.html %}
    </div>
  </footer>