@charset "utf-8";

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon{
  padding: 20px;
}

.Aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tilt-bottom-left {
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 100%, /* right bottom */
    0 90% /* left bottom */
  );
}

.tilt-bottom-right {
  clip-path: polygon(
    0 0, /* left top */
    100% 0, /* right top */ 
    100% 90%, /* right bottom */
    0% 100% /* left bottom */
  );
}

.tilt-complete-right {
  clip-path: polygon(
    0 10%, /* left top */
    100% 0%, /* right top */ 
    100% 90%, /* right bottom */
    0% 100% /* left bottom */
  );
}

.tilt-complete-left {
  clip-path: polygon(
    0 0%, /* left top */
    100% 10%, /* right top */ 
    100% 100%, /* right bottom */
    0% 90% /* left bottom */
  );
}

.Aligner-item {
  max-width: 50%;
}

.jarallax {
  position: relative;
  z-index: 0;
}



// Import frameworks & theme styles
@import
  "normalize",
  "settings",
  "sassline-base",
  "syntax",
  "flex",
  "theme"
;
