@charset "utf-8";

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-icon{
  padding: 20px;
}

// Import frameworks & theme styles
@import
  "normalize",
  "settings",
  "sassline-base",
  "syntax",
  "flex",
  "theme"
;
